/***************************/
/* HEADER */
/***************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 4.8rem 0 9.6rem 0;
}

.logo {
  height: 6.4rem;
  margin-left: 5rem;
  /* margin-top: 15rem; */
  border-radius: 50%;
}

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 10%;
  /* border-color: antiquewhite;
  border: 2rem; */
}

.example-imgs {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.some-imgs {
  display: flex;
}

.some-imgs img {
  height: 9.8rem;
  width: 9.8rem;
  border-radius: 80%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.some-imgs img:last-child {
  margin: 0;
}

.some-imgs-text {
  font-size: 2.5rem;
  font-weight: 800;
}

.some-imgs-text span {
  color: #595f39;
  font-weight: 800;
}

/***************************/
/* ABOUT SECTION */
/***************************/

.section-about {
  padding: 9.6rem 0;
}

.step-sentence {
  font-size: 4.6rem;
  font-weight: 400;
  color: #085066;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 90%;
  height: 20%;
  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #e4e4de;
  z-index: -2;
}

.step-img-box::after {
  width: 90%;
  padding-bottom: 60%;
  background-color: #c4c5ba;
  z-index: -1;
}

.step-img {
  width: 80%;
  border-radius: 10%;
}

.section-about {
  margin: 0 30rem;
}

/***************************/
/* ART SECTION */
/***************************/

.section-arts {
  padding: 9.6rem 0;
}

.art {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.4s;
}

.art:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.art-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.art-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

/* .tag--art {
  background-color: #51cf66;
} */

.tag--name {
  background-color: #94d82d;
}

.tag--made {
  background-color: #ffd43b;
}

.art-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.art-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.art-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.art-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.art-img {
  width: 100%;
}

.go-main-page {
  text-align: center;
  font-size: 1.8rem;
}
